body {
    font-family: "Courier New", monospace;
    background-color: white;
}

th {
    text-align: center;
}

tr {
    border-bottom: 1px solid #00a2fa;
}

.table {
    text-align: center;
    border-bottom: 1px solid #00a2fa;
    padding-top: 1%;
}

.navbar {
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: "Courier New", monospace;
    border-style: solid none none none;
    border-color: #00a2fa;
    border-width: medium;
    background-color: white;
}

.navbar button {
    background-color: white;
    border: none;
}

.navbar a {
    float: inline-start;
    font-size: 14px;
    color: #00a2fa;
    text-align: center;
    padding: 20px;
    border-style: none solid none none;
    border-color: #00a2fa;
    border-width: medium;
    min-width: 80px;
    text-decoration: none;
}

.navbar a:hover {
    color: black;
    background-color: #00a2fa;
}

.banner {
    overflow: visible;
    grid-column-start: 1;
    grid-column-end: 4;
    min-height: 5%;
    align-content: right;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    min-height: 5%;
}

.main {
    display: grid;
    grid-template-rows: 1fr 1fr 10fr 1fr;
    grid-template-columns: 1fr 6fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 2px;
    width: 100%;
    height: 100%;
}

/* display css for Part details page */
.partcenter {
    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    /* width: 100%;
    height: 100%; */
}

.partbuttons {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    padding-top: 5px;
}

.partbutton {
    text-align: center;
    padding: 1%;
    border-style: none solid solid none;
    border-color: #00a2fa;
    border-width: 3px;
}

.partbutton:hover {
    background-color: #00a2fa;
}


.parttable {
    align-content: right;
    justify-content: right;
    margin-left: auto;
    margin-right: 0;
    width: 70%;
}

.parttable table {
    width: 100%;
}

.parttable th {
    text-align: left;
    background-color: #00a2fa;
}

.parttable td {
    text-align: right;
    border-style: none none solid none;
    border-color: #00a2fa;
    border-width: 1px;
}

.addpart form {
    width: 40%;
}

.addpart table {
    width: 100%;
}

.addpart input {
    float: right;
}

.addpart select {
    float: right;
}

.addpart th {
    text-align: left;
}

.addpart tr {
    align-content: right;
    align-items: right;
    align-self: right;
}

.addpart textarea {
    width: 98%;
    height: 80%;
}

.loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
}

/** popup forms. code almost entirely stolen */

.formPopup {
    display: none;
    position: fixed;
    left: 45%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 3px solid #00a2fa;
    z-index: 9;
}

.formContainer {
    max-width: 500px;
    padding: 20px;
    background-color: #fff;
}

.formContainer input[type=text],
.formContainer input[type=password] {
    width: 100%;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
}

.formContainer input[type=text]:focus,
.formContainer input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
}

.formContainer .cancel {
    background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
    opacity: 1;
}


/** collapsible element css */
.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active,
.collapsible:hover {
    background-color: #ccc;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}