{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load formattingtags %}
{% block content %}

<div class="partcenter">
    <div>
        <h2>
            {{ part.longname }}
        </h2>
    </div>
    <div class="partbuttons">
        <div class="partbutton" id="vendor">
            <b>Add Vendor</b>
        </div>
        <div class=" partbutton" id="resource">
            <b>Add Resource</b>
        </div>
        <div class="partbutton" id="em">
            <b>Add EM info</b>
        </div>
    </div>
    <div class="formPopup" id="vendor_form">
        <form action="#" method="post" class="formContainer">
            {% csrf_token %}
            <table>
                {{ vendor_form.as_table }}
            </table>
            <br>
            <input id="id_parent" name="parent" type="text" value="{{ part.id }}" style="display: none">
            <input type="submit" class="btn submit" value="submit">
            <button type="button" class="btn cancel" onclick="closeForm()">Back</button>
        </form>
    </div>
    <div class="formPopup" id="resource_form">
        <form action="#" method="post" class="formContainer">
            {% csrf_token %}
            <table>
                {{ resource_form.as_table }}
            </table>
            <br>
            <input id="id_parent" name="parent" type="text" value="{{ part.id }}" style="display: none">
            <input type="submit" class="btn submit" value="create">
            <button type="button" class="btn cancel" onclick="closeForm()">Back</button>
        </form>
    </div>
    <div class="formPopup" id="em_form">
        <form action="#" method="post" class="formContainer">
            {% csrf_token %}
            <table>
                {{ em_form.as_table }}
            </table>
            <br>
            <input id="id_parent" name="parent" type="text" value="{{ part.id }}" style="display: none">
            <input type="submit" class="btn submit" value="create">
            <button type="button" class="btn cancel" onclick="closeForm()">Back</button>
        </form>
    </div>
    <div>
        <h3>{{ part.name }}</h3>

        <h4>Description</h4>
        <p>{{ part.description }}</p>

        <h4>Part Type</h4>
        <p>{{ part.part_type.typename }}</p>
    </div>
    <div class="parttable">
        <table>
            <tr>
                <th>ID #</th>
                <td>{{ part.identity_number }}</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>{{ part.creator }}</td>
            </tr>
            <tr>
                <th>Created On</th>
                <td>{{ part.created_date }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ part.manufacturer }}</td>
            </tr>
            <tr>
                <th>MFG Part #</th>
                <td>{{ part.mfg_part_number }}</td>
            </tr>
            <tr>
                <th>Design Status</th>
                <td>
                    {% if part.design_status == "ACTIVE" %}
                    <bold style="background-color: greenyellow;">{{ part.design_status }}</bold>
                    {% elif part.design_status == "PENDING" or part.design_status == "INACTIVE" %}
                    <bold style="background-color: orange;">{{ part.design_status }}</bold>
                    {% else %}
                    <bold style="background-color: red;">{{ part.design_status }}</bold>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Sellable</th>
                <td><input type="checkbox" checked="{{ part.sellable }}" </input></td>
            </tr>
            <tr>
                <th>Product Line</th>
                <td>{{ part.product_line }}</td>
            </tr>
            <tr>
                <th>Product Line</th>
                <td>{{ part.product_line }}</td>
            </tr>
        </table>

    </div>

    <div class="partextras">

        <button type="button" class="collapsible">Vendors</button>
        <div class="content">
            {% if part.vendorpartinfo_set %}
            {% for vinfo in part.vendorpartinfo_set.all %}
            <table>
                <tr>
                    <th>Vendor</th>
                    <td>{{ vinfo.vendor }}</td>
                </tr>
                <tr>
                    <th>Order Number</th>
                    <td>{{ vinfo.order_number }}</td>
                </tr>
                <tr>
                    <th>Cost</th>
                    <td>{{ vinfo.cost }}</td>
                </tr>
            </table>
            {% endfor %}
            {% else %}
            <p>No Vendor Info associated with this part</p>
            {% endif %}
        </div>
        <button type="button" class="collapsible">EM Info</button>
        <div class="content">
            {% if part.electromechpartinfo_set %}
            {% for eminfo in part.electromechpartinfo_set.all %}
            <table>
                <tr>
                    <th>Profile Name</th>
                    <td>{{ eminfo.profile_name }}</td>
                </tr>
                <tr>
                    <th>Material</th>
                    <td>{{ eminfo.material }}</td>
                </tr>
                <tr>
                    <th>Polarity</th>
                    <td>{{ eminfo.polarity }}</td>
                </tr>
                <tr>
                    <th>Voltage</th>
                    <td>{{ eminfo.voltage }}</td>
                </tr>
                <tr>
                    <th>Measurement Unit</th>
                    <td>{{ eminfo.measurement_unit }}</td>
                </tr>
                <tr>
                    <th>Purchase Unit</th>
                    <td>{{ eminfo.purchase_unit }}</td>
                </tr>
                <tr>
                    <th>Value</th>
                    <td>{{ eminfo.value }}</td>
                </tr>
                <tr>
                    <th>Power (mW)</th>
                    <td>{{ eminfo.power_mW }}</td>
                </tr>
                <tr>
                    <th>Tolerance</th>
                    <td>{{ eminfo.tolerance }}</td>
                </tr>
                <tr>
                    <th>Quality</th>
                    <td>{{ eminfo.quality }}</td>
                </tr>
                <tr>
                    <th>Temperature (ppm/°C)</th>
                    <td>{{ eminfo.temp }}</td>
                </tr>
                <tr>
                    <th>Temperature Max (°C)</th>
                    <td>{{ eminfo.temp_max }}</td>
                </tr>
                <tr>
                    <th>Temperature Min (°C)</th>
                    <td>{{ eminfo.temp_min }}</td>
                </tr>
                <tr>
                    <th>Footprint</th>
                    <td>{{ eminfo.footprint }}</td>
                </tr>
                <tr>
                    <th>De-Gild</th>
                    <td>{{ eminfo.degild|prettybool }}</td>
                </tr>
                <tr>
                    <th>Pre-Tin</th>
                    <td>{{ eminfo.pretin|prettybool }}</td>
                </tr>
                <tr>
                    <th>Re-Ball</th>
                    <td>{{ eminfo.reball|prettybool }}</td>
                </tr>
                <tr>
                    <th>Pasted</th>
                    <td>{{ eminfo.pasted|prettybool }}</td>
                </tr>
                <tr>
                    <th>Staked</th>
                    <td>{{ eminfo.staked|prettybool }}</td>
                </tr>
            </table>
            {% endfor %}
            {% else %}
            <p>No Electro/Mechanical profiles associated with this part</p>
            {% endif %}
        </div>
        <button type="button" class="collapsible">Resources</button>
        <div class="content">
            {% if part.partresource_set %}
            {% for resinfo in part.partresource_set.all %}
            <table>
                <tr>
                    <th>Name</th>
                    <td>{{ resinfo.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ resinfo.description }}</td>
                </tr>
                <tr>
                    <th>URL</th>
                    <td>{{ resinfo.url }}</td>
                </tr>
            </table>
            {% endfor %}
            {% else %}
            <p>No Resources associated with this part</p>
            {% endif %}
        </div>
    </div>

</div>

<script>
    var form_btns = document.getElementsByClassName("partbutton");
    var coll = document.getElementsByClassName("collapsible");

    function closeForm() {
        var forms = document.getElementsByClassName("formPopup");
        for (var i = 0; i < forms.length; i++) {
            if (forms[i].style.display == "block") {
                forms[i].style.display = "none";
            }
        }
    }

    for (var i = 0; i < form_btns.length; i++) {
        form_btns[i].onclick = function (e) {
            var source = e.originalTarget.id;
            var form_name = source + "_form"
            closeForm()
            document.getElementById(form_name).style.display = "block";
        }
    }


    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    } 
</script>

{% endblock %}