{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% block content %}

<div class="partcenter">
    <div>
        <h2>
            {{ part.longname }}
        </h2>
    </div>
    <div class="partbuttons">
        <div class="partbutton" id="vendor">
            <b>Add Vendor</b>
        </div>
        <div class=" partbutton" id="resource">
            <b>Add Resource</b>
        </div>
        <div class="partbutton" id="em">
            <b>Add EM info</b>
        </div>
    </div>
    <div class="formPopup" id="vendor_form">
        <form action="#" method="post" class="formContainer">
            {% csrf_token %}
            <table>
                {{ vendor_form.as_table }}
            </table>
            <br>
            <input id="id_parent" name="parent" type="text" value="{{ part.id }}" style="display: none">
            <input type="submit" class="btn submit" value="submit">
            <button type="button" class="btn cancel" onclick="closeForm()">Back</button>
        </form>
    </div>
    <div class="formPopup" id="resource_form">
        <form action="#" method="post" class="formContainer">
            {% csrf_token %}
            <table>
                {{ resource_form.as_table }}
            </table>
            <br>
            <input id="id_parent" name="parent" type="text" value="{{ part.id }}" style="display: none">
            <input type="submit" class="btn submit" value="create">
            <button type="button" class="btn cancel" onclick="closeForm()">Back</button>
        </form>
    </div>
    <div class="formPopup" id="em_form">
        <form action="#" method="post" class="formContainer">
            {% csrf_token %}
            <table>
                {{ em_form.as_table }}
            </table>
            <br>
            <input id="id_parent" name="parent" type="text" value="{{ part.id }}" style="display: none">
            <input type="submit" class="btn submit" value="create">
            <button type="button" class="btn cancel" onclick="closeForm()">Back</button>
        </form>
    </div>
    <div>
        <h3>{{ part.name }}</h3>

        <h4>Description</h4>
        <p>{{ part.description }}</p>

        <h4>Part Type</h4>
        <p>{{ part.part_type.typename }}</p>
    </div>
    <div class="parttable">
        <!-- <table>
            <tr>
                <th>ID #</th>
                <td>{{ part.identity_number }}</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>{{ part.creator }}</td>
            </tr>
            <tr>
                <th>Created On</th>
                <td>{{ part.created_date }}</td>
            </tr>
            <tr>
                <th>Manufacturer</th>
                <td>{{ part.manufacturer }}</td>
            </tr>
            <tr>
                <th>MFG Part #</th>
                <td>{{ part.mfg_part_number }}</td>
            </tr>
            <tr>
                <th>Design Status</th>
                <td>
                    {% if part.design_status == "ACTIVE" %}
                    <bold style="background-color: greenyellow;">{{ part.design_status }}</bold>
                    {% elif part.design_status == "PENDING" or part.design_status == "INACTIVE" %}
                    <bold style="background-color: orange;">{{ part.design_status }}</bold>
                    {% else %}
                    <bold style="background-color: red;">{{ part.design_status }}</bold>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Sellable</th>
                <td><input type="checkbox" checked="{{ part.sellable }}" </input></td>
            </tr>
            <tr>
                <th>Product Line</th>
                <td>{{ part.product_line }}</td>
            </tr>
            <tr>
                <th>Product Line</th>
                <td>{{ part.product_line }}</td>
            </tr>
        </table> -->
        {% render_table table %}

    </div>

    <div class="partextras">

        <button type="button" class="collapsible">Vendors</button>
        <div class="content">
            {% if part.vendorpartinfo_set %}
            {% for vinfo in part.vendorpartinfo_set.all %}
            {% render_table tables_1 %}
            {% endfor %}
            {% endif %}
        </div>
        <button type="button" class="collapsible">EM Info</button>
        <div class="content">
            {% if part.electromechanicalpartinfo_set %}
            {% for eminfo in part.electromechanicalpartinfo.all %}
            {% render_table tables_1 %}
            {% endfor %}
            {% endif %}
        </div>
        <button type="button" class="collapsible">Resources</button>
        <div class="content">
            {% if part.electromechanicalpartinfo %}
            {% for eminfo in part.electromechanicalpartinfo.all %}
            {% render_table tables_1 %}
            {% endfor %}
            {% endif %}
        </div>
    </div>

</div>

<script>
    var form_btns = document.getElementsByClassName("partbutton");
    var coll = document.getElementsByClassName("collapsible");

    function closeForm() {
        var forms = document.getElementsByClassName("formPopup");
        for (var i = 0; i < forms.length; i++) {
            if (forms[i].style.display == "block") {
                forms[i].style.display = "none";
            }
        }
    }

    for (var i = 0; i < form_btns.length; i++) {
        form_btns[i].onclick = function (e) {
            var source = e.originalTarget.id;
            var form_name = source + "_form"
            closeForm()
            document.getElementById(form_name).style.display = "block";
        }
    }


    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    } 
</script>

{% endblock %}